{% extends 'base.html.twig' %}

{% block title %}Cerca{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <form class="form form-search text-center">
        <div class="form-group">
            <h1 class="h3 mb-3">Codice</h1>
            <label for="inputTag" class="sr-only">Inserire codice (5 cifre)</label>
            <input type="text" class="form-control-lg" id="inputTag" placeholder="Codice">
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Visualizza</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
