{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('live') }}
{% endblock %}


{% block body %}
    <div class="container messages">
        <h3>Ultime timbrature</h3>
        <p>Example http://europass.locale/online?badge=00  0014727 11/07/19 0800 1&id=01</p>
        <div class="js-terminale-id" data-id-terminale="{{ terminale }}">
            <ul id="lista-timbrature">

            </ul>
        </div>
    </div>
{% endblock %}
